#topNavTemplate ul > li {
    display: inline-block;
    /* You can also add some margins here to make it look prettier */
}

.topNavBar {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.topnav {
    overflow: visible;
    background-color: #e9e9e9;
    padding: 1px;
}